<h1>Public::Posts#edit</h1>
<p>Find me in app/views/public/posts/edit.html.erb</p>

<div class="container">

<%= form_with model: @post, url: post_path, method: :patch do |f| %>
  <div class="row">
    <div class="col-1">
      <%= f.text_field :title, :size=>"50", :placeholder => "タイトルを入力してください" %> <!--投稿タイトル-->
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <%= f.rich_text_area :content, :placeholder => "コードの内容を入力してください" %> <!--コードの内容-->
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <%= f.text_area :text, :size=>"100*100",  :placeholder => "説明文を入力してください" %> <!--コードの説明文-->
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      ジャンル選択
      <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name), include_blank: true %> <!--ジャンル選択-->
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.submit '変更を保存', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>

</div>