<h1>Public::Posts#index</h1>

<div class="container">
  <div class="row justify-content-end">
    <div class="col-auto"> <!--検索機能-->
      <%= search_form_for @q do |f| %>
        <%= f.search_field :title_or_text_cont %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="col-auto">
      <%= link_to "新規投稿", new_post_path, class: 'btn btn-success' %>
    </div>
  </div>

  <% @posts.each do |post_text| %>
  <div class="row m-3 p-5 justify-content-center border">
    <div class=" col-auto">
      <%= link_to post_path(post_text.id), class: 'text-dark' do %>
        <%= post_text.title %>
      <% end %>
    </div>
    <!-- class="col-auto">
      <!-- post_text.genre.genre_name -->
    <!---->
  </div>
  <% end %>

  <%= paginate @posts %>
</div>