<h1>Public::Posts#new</h1>

<div class="container">
  <div class="row">
    <%= form_with model: @post, method: :post do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control", :placeholder => "タイトルを入力してください" %> <!--投稿タイトル-->
      </div><br />
      <div class="form-group">
        <%= f.rich_text_area :content, class: "form-control", :placeholder => "コードの内容を入力してください" %> <!--コードの内容-->
      </div><br />
      <div class="form-group">
        <%= f.text_area :text, class: "form-control", :placeholder => "説明文を入力してください" %> <!--コードの説明文-->
      </div><br />
      <div class="form-group">
        ジャンル選択
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name), include_blank: true %> <!--ジャンル選択-->
      </div><br />
      <div class="form-group">
        <%= f.hidden_field :customer_id, :value => @customer.id %>
        <%= f.submit '投稿する', class: 'btn btn-success' %>
      </div>
    <div>
    <% end %>
  </div>
</div>