<h1>Public::Posts#show</h1>
<p>Find me in app/views/public/posts/show.html.erb</p>

<div class="container">
  <div class="row m-3">
    <h4><strong><%= @post.title %></strong></h4>
  </div>
  <div class="row m-3 p-5 justify-content-center border">
    <div class="col">
      <div><%= @post.content %></div>
    </div>
  </div>
  <div class="row m-4">
    <h5><strong>＜コメント＞</strong></h5><br />
  </div>
  <div class="row m-auto">
  <%= @post.text %>
  </div>

  <div class="row m-3"> <!--ブックマーク機能-->
    <% if @post.customer == current_customer %> <!--投稿者には非表示-->
      <p></p>
      <p></p>
    <% else %>
      <% if @post.bookmarks_by?(current_customer) %>
        <p>
          <%= link_to bookmarks_path(post_id: @post.id), method: :delete do %>
            ★<%= @post.bookmarks.count %>
          <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to bookmarks_path(post_id: @post.id), method: :post do %>
            ☆<%= @post.bookmarks.count %>
          <% end %>
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <% if @post.customer == current_customer %>
      <div class="col-auto"><%= link_to "編集する", edit_post_path(@post.id), class: 'btn btn-sm btn-success' %></div>
      <div class="col-auto"><%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %></div>
    <% else %>
      <div></div>
      <div></div>
    <% end %>
  </div>
</div>
