<div class="container">
  <div class="row">
    <h5><strong>管理者</strong>ログイン</h5>
  </div>

  <div class="row justify-content-center">
    <table class="table-sm table-borderless">
      <tbody>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <tr class="field">
            <th><%= f.label :'メールアドレス' %></th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr class="field">
            <th><%= f.label :'パスワード' %></th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr class="actions">
            <th></th>
            <td><%= f.submit "ログイン" %></td>
          </tr>
        <% end %>
        <%= render "admin/shared/links" %>
      </tbody>
    </table>
  </div>
</div>
