<h1>Admin::Customers#index</h1>
<p>Find me in app/views/admin/customers/index.html.erb</p>

<div class="container">
  <div class="row">
    <h5>会員一覧</h5>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <table class="table">
        <thead>
          <th class="col-1">会員ID</th>
          <th class="col-1">氏名</th>
          <th class="col-1">メールアドレス</th>
          <th class="col-1">ステータス</th>
        </thead>
        <% @customers.each do |customer| %>
        <tbody>
          <td><%= customer.id %></td>
          <td><%= link_to admin_customer_path(customer.id) do %><%= customer.name %><% end %></td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted %>
            退会
            <% else %>
            有効
            <% end %>
          </td>
        </tbody>
        <% end %>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>
